* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

div {
  font-size: x-small;
}

p,
b {
  font-size: xx-small;
}

span {
  font-size: medium;
  font-weight: bold;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow-x: overlay;
  overflow-y: overlay;
}

hr {
  height: 1px;
  width: 100%;
  border: 0;
  background-color: black;
}

dialog {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  color: white;
}

.grid-container {
  position: relative;
  box-sizing: border-box;
  height: 100%;
  min-height: 33rem;
  width: 70%;
  min-width: 51rem;
  display: grid;
  grid-template-columns: 1.5fr repeat(9, 1fr) 1.5fr;
  grid-template-rows: 1fr repeat(9, 1fr) 1fr;
  gap: 3px;
  background-color: black;
  border: 3px solid black;
  font-size: xx-small;
}

::-webkit-scrollbar {
  width: 16px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: transparent solid 5px;
  background-clip: content-box;
  background-color: rgba(100, 100, 100, 0.5);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #c8c8c8;
}

.grid-item {
  background-color: #d4fcda;
  border: 0;
  position: relative;
}

.property-column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.property-column img {
  max-height: 3rem;
  max-width: 3rem;
}

.property-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.property-row img {
  max-height: 3rem;
  max-width: 3rem;
}

.property-info {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  position: relative;
}

.player-area,
.popup-card-background {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  pointer-events: none;
}

.house-area-red {
  display: flex;
  height: 1.5rem;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: red;
}
.house-area-red img {
  height: 1.25rem;
  width: auto;
}

.house-area-yellow {
  display: flex;
  height: 1.5rem;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: yellow;
}
.house-area-yellow img {
  height: 1.25rem;
  width: auto;
}

.house-area-green {
  display: flex;
  width: 1.5rem;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: green;
}
.house-area-green img {
  height: 1.25rem;
  width: auto;
}

.house-area-blue {
  display: flex;
  width: 1.5rem;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: blue;
}
.house-area-blue img {
  height: 1.25rem;
  width: auto;
}

.house-area-brown {
  display: flex;
  height: 1.5rem;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: brown;
}
.house-area-brown img {
  height: 1.25rem;
  width: auto;
}

.house-area-skyblue {
  display: flex;
  height: 1.5rem;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: skyblue;
}
.house-area-skyblue img {
  height: 1.25rem;
  width: auto;
}

.house-area-palevioletred {
  display: flex;
  width: 1.5rem;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: palevioletred;
}
.house-area-palevioletred img {
  height: 1.25rem;
  width: auto;
}

.house-area-orange {
  display: flex;
  width: 1.5rem;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: orange;
}
.house-area-orange img {
  height: 1.25rem;
  width: auto;
}

.span-9x9 {
  background-color: #d4fcda;
  grid-area: 2/2/11/11;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.dices {
  height: 25%;
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.dices img {
  height: 100%;
  width: auto;
}

#action-button {
  font-size: xx-large;
}

.player-list {
  box-sizing: border-box;
  height: 100%;
  min-height: 33rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.player-info {
  box-sizing: border-box;
  height: 25%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.player-icon {
  display: flex;
  justify-content: center;
  height: 50%;
  width: 50%;
  z-index: 1;
}
.player-icon img {
  object-fit: scale-down;
}

#player1 {
  background-color: lightgrey;
}

#player1,
#player1-icon-board {
  position: relative;
}
#player1 img,
#player1-icon-board img {
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#player1 img:first-child,
#player1-icon-board img:first-child {
  filter: drop-shadow(0 0 0.5rem red);
}

.player-icon {
  display: flex;
  justify-content: center;
  height: 50%;
  width: 50%;
  z-index: 1;
}
.player-icon img {
  object-fit: scale-down;
}

#player2 {
  background-color: lightgrey;
}

#player2,
#player2-icon-board {
  position: relative;
}
#player2 img,
#player2-icon-board img {
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#player2 img:first-child,
#player2-icon-board img:first-child {
  filter: drop-shadow(0 0 0.5rem yellow);
}

.player-icon {
  display: flex;
  justify-content: center;
  height: 50%;
  width: 50%;
  z-index: 1;
}
.player-icon img {
  object-fit: scale-down;
}

#player3 {
  background-color: lightgrey;
}

#player3,
#player3-icon-board {
  position: relative;
}
#player3 img,
#player3-icon-board img {
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#player3 img:first-child,
#player3-icon-board img:first-child {
  filter: drop-shadow(0 0 0.5rem green);
}

.player-icon {
  display: flex;
  justify-content: center;
  height: 50%;
  width: 50%;
  z-index: 1;
}
.player-icon img {
  object-fit: scale-down;
}

#player4 {
  background-color: lightgrey;
}

#player4,
#player4-icon-board {
  position: relative;
}
#player4 img,
#player4-icon-board img {
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#player4 img:first-child,
#player4-icon-board img:first-child {
  filter: drop-shadow(0 0 0.5rem blue);
}

.popup-card {
  aspect-ratio: 1/1.4;
  height: 45%;
  background-color: white;
  border: 2px solid black;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.5rem;
  pointer-events: auto;
}

.special-card {
  aspect-ratio: 1.5/1;
  height: 25%;
}

.hide {
  display: none;
}

.card-name {
  height: 15%;
  min-height: 2rem;
  width: 100%;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  color: white;
  font-weight: bold;
}

.card-info,
.card-price {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  font-size: medium;
  border-collapse: collapse;
}

.card-price {
  height: 3rem;
}

.card-info {
  flex-grow: 1;
}

.card-actions {
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-actions button {
  height: 100%;
  background-color: black;
  width: 48%;
  color: white;
  border: none;
  font-size: medium;
}

/*# sourceMappingURL=style.css.map */
