* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

div {
  font-size: x-small;
}

p,
b {
  font-size: xx-small;
}

span {
  font-size: medium;
  font-weight: bold;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.grid-container {
  position: relative;
  height: calc(100% - 6px);
  min-height: 38rem;
  width: 70%;
  min-width: 50rem;
  display: grid;
  grid-template-columns: 1.5fr repeat(9, 1fr) 1.5fr;
  grid-template-rows: 1fr repeat(9, 1fr) 1fr;
  gap: 3px;
  background-color: black;
  border: 3px solid black;
  font-size: xx-small;
}

.grid-item {
  background-color: #d4fcda;
  border: 0;
  position: relative;
}

.property-column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.property-column img {
  width: 3rem;
  height: auto;
}

.property-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.property-row img {
  width: 3rem;
  height: auto;
}

.property-info {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  position: relative;
}

.player-area,
.popup-card-background {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  pointer-events: none;
}

.house-area-red {
  display: flex;
  height: 1.5rem;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: red;
}
.house-area-red img {
  height: 1.25rem;
  width: auto;
}

.house-area-yellow {
  display: flex;
  height: 1.5rem;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: yellow;
}
.house-area-yellow img {
  height: 1.25rem;
  width: auto;
}

.house-area-green {
  display: flex;
  width: 1.5rem;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: green;
}
.house-area-green img {
  height: 1.25rem;
  width: auto;
}

.house-area-blue {
  display: flex;
  width: 1.5rem;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: blue;
}
.house-area-blue img {
  height: 1.25rem;
  width: auto;
}

.house-area-brown {
  display: flex;
  height: 1.5rem;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: brown;
}
.house-area-brown img {
  height: 1.25rem;
  width: auto;
}

.house-area-skyblue {
  display: flex;
  height: 1.5rem;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: skyblue;
}
.house-area-skyblue img {
  height: 1.25rem;
  width: auto;
}

.house-area-palevioletred {
  display: flex;
  width: 1.5rem;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: palevioletred;
}
.house-area-palevioletred img {
  height: 1.25rem;
  width: auto;
}

.house-area-orange {
  display: flex;
  width: 1.5rem;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: orange;
}
.house-area-orange img {
  height: 1.25rem;
  width: auto;
}

.span-9x9 {
  background-color: #d4fcda;
  grid-area: 2/2/11/11;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.dices {
  height: 25%;
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.dices img {
  height: 100%;
  width: auto;
}

#action-button {
  font-size: xx-large;
}

.player-list {
  height: 100vh;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.player-info {
  height: 25%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.player-icon {
  display: flex;
  justify-content: center;
  height: 50%;
  width: 50%;
  z-index: 1;
}
.player-icon img {
  object-fit: scale-down;
}

#player1 {
  background-color: lightgrey;
}

#player1 img,
#player1-icon-board img {
  filter: drop-shadow(0 0 0.5rem red);
}

.player-icon {
  display: flex;
  justify-content: center;
  height: 50%;
  width: 50%;
  z-index: 1;
}
.player-icon img {
  object-fit: scale-down;
}

#player2 {
  background-color: lightgrey;
}

#player2 img,
#player2-icon-board img {
  filter: drop-shadow(0 0 0.5rem yellow);
}

.player-icon {
  display: flex;
  justify-content: center;
  height: 50%;
  width: 50%;
  z-index: 1;
}
.player-icon img {
  object-fit: scale-down;
}

#player3 {
  background-color: lightgrey;
}

#player3 img,
#player3-icon-board img {
  filter: drop-shadow(0 0 0.5rem green);
}

.player-icon {
  display: flex;
  justify-content: center;
  height: 50%;
  width: 50%;
  z-index: 1;
}
.player-icon img {
  object-fit: scale-down;
}

#player4 {
  background-color: lightgrey;
}

#player4 img,
#player4-icon-board img {
  filter: drop-shadow(0 0 0.5rem blue);
}

.popup-card {
  aspect-ratio: 1/1.5;
  height: 45%;
  background-color: white;
  border: 2px solid black;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.5rem;
}

.special-card {
  aspect-ratio: 1.5/1;
  height: 25%;
}

.hide {
  display: none;
}

.card-name {
  height: 20%;
  width: 100%;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  color: white;
}

.card-info {
  height: 65%;
  width: 100%;
  font-size: medium;
}
.card-info table {
  width: 100%;
}
.card-info table td:nth-child(2) {
  float: right;
}

.card-actions {
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-actions button {
  height: 100%;
  background-color: black;
  width: 40%;
  color: white;
  border: none;
  font-size: medium;
}

/*# sourceMappingURL=style.css.map */
